.features{
    width: 100%;
    overflow-x: hidden;
    background-color: $gray;
    padding-bottom: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .feature-text-area{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2{
            @include font(34px, 500, $black, $montserrat);
        }
        
        p{
            width: 60%;
            @include font(16px, 200, $black, $inter);
        }
    }  

    .features-carrousel{
        display: flex;
        justify-content: center;
        align-items: center;

        .carrousel-container{
            cursor: grab;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            list-style: none;
            touch-action: none;

            .feature-card{
                background-color: $white;
                width: 317px;
                height: 343px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 22px;

                &:nth-child(2){
                    background-color: $yellow;
                }

                .feature-icon{
                    width: 83px;
                    height: 83px;
                    padding: 21px;
                    background-color: white;
                    border-radius: 10px;
                }

                .card-txt{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h3{
                        @include font(34px, 700, $black, $montserrat);
                    }

                    p{
                        width: 60%;
                        @include font(16px, 400, $black, $inter)
                    }
                }
            }
        }
    }
    .carrousel-bar{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .bars-list{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 15px;
            transition: all 1s;

            .bar{
                width: 51px;
                height: 11px;
                background-color: darken($color: $gray, $amount: 15);
            }

            .bar.current{
                width: 82px;
                background-color: $yellow;
            }
        }
    }
}

