.get-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    margin-bottom: 150px;

    @media screen and (min-width: 1024px){
        flex-direction: row;   
        justify-content: space-between; 
        align-items: flex-start;
        height: 600px;
        margin-bottom: 50px;
    }
    

    .texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;

        @media screen and (min-width: 1024px){
            width: 50%;
            height: 100%;
            align-items: flex-end;
        }

        .showcase-university{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            @media screen and (min-width: 1024px){
                flex-direction: row;
                gap: 0;
            }

            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                text-align: center;
                padding-bottom: 40px;
                gap: 20px;
                @media screen and (min-width: 1024px){
                    
                }

                h4{
                    @include font(34px, 700, $black, $montserrat);
                }
                
                p{
                    @include font(16px, 400, $black, $inter);
                    @media screen and (min-width: 768px){
                        width: 80%;
                    }

                }
            }

            .university{
                border-bottom: 1px solid darken($color: $gray, $amount: 12);
                @media screen and (min-width: 1024px){
                    border: none;
                    border-right: 1px solid darken($color: $gray, $amount: 12);
                }
            }
        }
    }

    .card-container{
        background-color: $black;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        height: 322px;
        @media screen and (min-width: 768px){
            width: 65%;
        }

        @media screen and (min-width: 1024px){
            width: 30%;
            height: 380px;
        }
        

        .card{
            position: relative;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            background-color: $yellow;
            width: 100%;
            padding-left: 20px;
            padding-top: 20px;
            height: 377px;
            overflow: hidden;
            gap: 20px;

            @media screen and (min-width: 1024px){
                height: 450px;
            }

            .tutor{
                @include font(23px, 700, $black, $montserrat);
                opacity: 0.3;
                text-transform: uppercase;
                @media screen and (min-width: 1024px){
                    font-size: 28px;
                }
            }

            .tutor-name{
                @include font(32px, 700, $black, $montserrat);
                opacity: 0.3;
                text-transform: capitalize;
                width: 50%;

                @media screen and (min-width: 1024px){
                    font-size: 43px;
                }
            }

            img{
                width: 250px;
                position: absolute;
                bottom: 0;
                right: 0;
                @media screen and (min-width: 1024px){
                    width: 280px;
                }
            }

        }
    }
}