header{
    width: 100%;
    height: 70px;
    padding: 0 15px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
    z-index: 10;
    transition: box-shadow .3s;

    @media screen and (min-width: 1024px){
     position: absolute;   
     background-color: transparent;
     width: 50%;
     padding: 0 40px;
    }

    .menu-icon{
        position: static;
        cursor: pointer;
        width: 22px;
        height: 22px;
        @media screen and (min-width: 1024px){
            display: none;
        }
    }
}

.menu{
    position: fixed;
    z-index: 12;
    right: 0;
    background-color: $white;
    box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 100vh;
    animation: menuShowUp .4s;

    @media screen and (min-width: 1024px){
     position: absolute; 
     background-color: transparent;
     box-shadow: none;  
     height: max-content;
     top: 26px;
     right: 30px;
    }

    .menu-container{
        z-index: 12;
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        gap: 35px;
        @include font(20px, 500, $black, $montserrat);
        
        @media screen and (min-width: 1024px){
            flex-direction: row;
            padding-top: 0;
            font-size: 16px;
            color: $white;
            justify-content: flex-end;
        }
        
        .menu-opt{
            cursor: pointer;
            &:hover{
                color: lighten($color: $black, $amount: 50);
                @media screen and (min-width: 1024px){
                    color: $yellow;
                }
            }
        }
    }
}

header.shadow{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.125);
}

@keyframes menuShowUp {
    0%{
        transform: translateX(100%);
    }
}


