.improve{
    
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    // margin-bottom: 500px;

    .first-frame{
        padding: 20px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;

        h1{
            @include font(34px, 500, $black, $code);
        }

        .code-icon{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $black;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @include font(12px, 400, $white, $code);
        }
        
        p{
            margin-top: -10px;
            width: 90%;
            margin-bottom: 20px;
            @include font(16px, 400, $black, $code);
        }
    }

    .second-frame{
        padding-top: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        background: url('/images/bg-yellow-line.svg');
        background-repeat: no-repeat;
        background-color: $black;
        background-position: 0 80px ;
        background-size: 100%;

        .code-editor{
            position: absolute;
            width: 355px;
            left: -15px;
            z-index: 0;
        }

        .italo-photo{
            position: relative;
            width: 273px;
            z-index: 2;
        }
        
        .name-skill{
            position: absolute;
            background-color: rgba(1, 1, 1, 0.50);
            display: flex;
            align-items: center;
            gap: 5px;
            left: 0;
            bottom: 0;
            z-index: 3;
            padding: 12px 50px 12px 34px;
            @include font(12px, 300, $white, $montserrat);

            .out-ball{
                padding: 1px;
                border: 1px solid $red;
                width: 17px;
                height: 17px;
                border-radius: 50%;

                .in-ball{
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    border-radius: 50%;
                }
            }
        }

        .park-caution-icon{
            width: 120px;
            position: absolute;
            right: 25px;
            bottom: -53px;
            z-index: 3;
        }
    }
}