.packages{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    h3{
        @include font(34px, 700, $black, $montserrat);
        text-align: center;
    }

    p{
        @include font(16px, 400, $black, $inter);
        text-align: center;
        width: 80%;
    }

    .packages-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style: none;

        .package-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $gray;

            &:nth-child(2){
                background-color: $black;
            }
        }


    }
}