.packages{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    p{
        @include font(16px, 400, $black, $inter);
        text-align: center;
        width: 80%;

        @media screen and (min-width: 1024px){
            font-size: 21px;
        }
    }

    .new{
        position: absolute;
        left: 40px;
        top: 120px;
    }

    .packages-list{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style: none;

        @media screen and (min-width: 1024px){
            flex-direction: row;
        }

        .package-container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $gray;
            color: $black;
            font-family: $montserrat;
            width: 343px;
            padding: 50px;
            gap: 30px;
            border-radius: 10px;

            &:nth-child(2){
                background-color: $black;
                color: $white;
                @media screen and (min-width: 1024px){
                    .packages-benefits{
                        height: 180px;
                    }
                }   
            }

            .package-name{
                font-size: 21px;
                font-weight: 400;
                text-transform: uppercase
            }

            .package-price{
                display: flex;
                align-items: center;
                gap: 5px;
                .dollar{
                    font-size: 18px;
                }
                .price{
                    font-size: 42px;
                    font-weight: 700;
                }
            }

            .packages-benefits{
                height: 125px;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }


    }
}

