@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

.logo {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: -moz-max-content;
  width: max-content;
}
.logo .logo-icon {
  background-color: #010101;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}
.logo .logo-name {
  font-size: 20px;
  font-weight: 700;
  color: #010101;
  font-family: "Montserrat", sans-serif;
  animation: nameAnimation 0.4s ease;
}

.logo.size-1 .logo-icon {
  width: 24px;
  height: 24px;
  font-size: 20px;
}
.logo.size-1 .logo-name {
  font-size: 20px;
}

.logo.size-2 {
  gap: 20px;
}
.logo.size-2 .logo-icon {
  width: 32px;
  height: 32px;
  font-size: 29px;
}
.logo.size-2 .logo-name {
  text-transform: capitalize;
  font-size: 34px;
}

.logo.color-1 .logo-icon {
  background-color: #010101;
  color: #ffffff;
}
.logo.color-1 .logo-name {
  color: #010101;
}

.logo.color-2 .logo-icon {
  background-color: #DDF247;
  color: #010101;
}
.logo.color-2 .logo-name {
  color: #ffffff;
}

@keyframes nameAnimation {
  0% {
    transform: translateX(-100%);
  }
}
header {
  width: 100%;
  height: 70px;
  padding: 0 15px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F4F4;
  z-index: 10;
  transition: box-shadow 0.3s;
}
header .menu-icon {
  position: static;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.menu {
  position: fixed;
  z-index: 12;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 100vh;
  animation: menuShowUp 0.4s;
}
.menu .menu-container {
  z-index: 12;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 35px;
  font-size: 20px;
  font-weight: 500;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}
.menu .menu-container .menu-opt:hover {
  color: #818181;
}

header.shadow {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.125);
}

@keyframes menuShowUp {
  0% {
    transform: translateX(100%);
  }
}
.improve {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
}
.improve .first-frame {
  padding: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}
.improve .first-frame h1 {
  font-size: 34px;
  font-weight: 500;
  color: #010101;
  font-family: "Source Code Pro", monospace;
}
.improve .first-frame .code-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
}
.improve .first-frame p {
  margin-top: -10px;
  width: 90%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
  font-family: "Source Code Pro", monospace;
}
.improve .second-frame {
  padding-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: url("/images/bg-yellow-line.svg");
  background-repeat: no-repeat;
  background-color: #010101;
  background-position: 0 80px;
  background-size: 100%;
}
.improve .second-frame .code-editor {
  position: absolute;
  width: 355px;
  left: -15px;
  z-index: 0;
}
.improve .second-frame .italo-photo {
  position: relative;
  width: 273px;
  z-index: 2;
}
.improve .second-frame .name-skill {
  position: absolute;
  background-color: rgba(1, 1, 1, 0.5);
  display: flex;
  align-items: center;
  gap: 5px;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: 12px 50px 12px 34px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.improve .second-frame .name-skill .out-ball {
  padding: 1px;
  border: 1px solid #FF4F4F;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.improve .second-frame .name-skill .out-ball .in-ball {
  width: 100%;
  height: 100%;
  background-color: #FF4F4F;
  border-radius: 50%;
}
.improve .second-frame .park-caution-icon {
  width: 120px;
  position: absolute;
  right: 25px;
  bottom: -53px;
  z-index: 3;
}

.features {
  width: 100%;
  overflow-x: hidden;
  background-color: #F4F4F4;
  padding-bottom: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .feature-text-area {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .feature-text-area h2 {
  font-size: 34px;
  font-weight: 500;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}
.features .feature-text-area p {
  width: 60%;
  font-size: 16px;
  font-weight: 200;
  color: #010101;
  font-family: "Inter", sans-serif;
}
.features .features-carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .features-carrousel .carrousel-container {
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  touch-action: none;
}
.features .features-carrousel .carrousel-container .feature-card {
  background-color: #ffffff;
  width: 317px;
  height: 343px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 22px;
}
.features .features-carrousel .carrousel-container .feature-card:nth-child(2) {
  background-color: #DDF247;
}
.features .features-carrousel .carrousel-container .feature-card .feature-icon {
  width: 83px;
  height: 83px;
  padding: 21px;
  background-color: white;
  border-radius: 10px;
}
.features .features-carrousel .carrousel-container .feature-card .card-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .features-carrousel .carrousel-container .feature-card .card-txt h3 {
  font-size: 34px;
  font-weight: 700;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}
.features .features-carrousel .carrousel-container .feature-card .card-txt p {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
  font-family: "Inter", sans-serif;
}
.features .carrousel-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .carrousel-bar .bars-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all 1s;
}
.features .carrousel-bar .bars-list .bar {
  width: 51px;
  height: 11px;
  background-color: #cecece;
}
.features .carrousel-bar .bars-list .bar.current {
  width: 82px;
  background-color: #DDF247;
}

.web-pages {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.web-pages .texts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
}
.web-pages .texts h3 {
  font-size: 34px;
  font-weight: 500;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}
.web-pages .texts p {
  font-size: 16px;
  font-weight: 300;
  color: #010101;
  font-family: "Inter", sans-serif;
}
.web-pages .images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-pages .images .code-editor {
  width: 100%;
}
.web-pages .images .caution-park-icon {
  position: absolute;
  width: 100px;
  right: 0px;
  bottom: -15px;
  transform: rotate(30deg);
}

.get-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  margin-bottom: 150px;
}
.get-up .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.get-up .texts h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}
.get-up .texts .showcase-university {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.get-up .texts .showcase-university li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  padding-bottom: 40px;
  gap: 20px;
}
.get-up .texts .showcase-university li h4 {
  font-size: 34px;
  font-weight: 700;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}
.get-up .texts .showcase-university li p {
  font-size: 16px;
  font-weight: 400;
  color: #010101;
  font-family: "Inter", sans-serif;
}
.get-up .texts .showcase-university .university {
  border-bottom: 1px solid #d5d5d5;
}
.get-up .card-container {
  background-color: #010101;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  height: 322px;
}
.get-up .card-container .card {
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #DDF247;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  height: 377px;
  overflow: hidden;
  gap: 20px;
}
.get-up .card-container .card .tutor {
  font-size: 23px;
  font-weight: 700;
  color: #010101;
  font-family: "Montserrat", sans-serif;
  opacity: 0.3;
  text-transform: uppercase;
}
.get-up .card-container .card .tutor-name {
  font-size: 32px;
  font-weight: 700;
  color: #010101;
  font-family: "Montserrat", sans-serif;
  opacity: 0.3;
  text-transform: capitalize;
  width: 50%;
}
.get-up .card-container .card img {
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.packages {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.packages h3 {
  font-size: 34px;
  font-weight: 700;
  color: #010101;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.packages p {
  font-size: 16px;
  font-weight: 400;
  color: #010101;
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 80%;
}
.packages .packages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.packages .packages-list .package-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
}
.packages .packages-list .package-container:nth-child(2) {
  background-color: #010101;
}

.brands {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  padding: 60px 0;
}
.brands .brand-logo {
  width: 25%;
}

.main-button {
  border: none;
  outline: none;
  background-color: #010101;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.main-button:hover {
  background-color: #202020;
}
.main-button:active {
  transform: scale(0.985);
}

.buy-button {
  width: 100%;
  text-transform: capitalize;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 0px;
  font-size: 19px;
  font-weight: 500;
  color: #DDF247;
  font-family: "Montserrat", sans-serif;
}

.buy-button.color-1 {
  background-color: #ffffff;
}

.buy-button.color-2 {
  background-color: #DDF247;
  color: #010101;
}/*# sourceMappingURL=index.css.map */